/* COMO O STUDIO TRABALHA */

.banner-contato {
  margin: 8em 1.5em 3em 1.5em;
  display: flex;
  flex-direction: column;
}

.banner__titulo-contato {
  font-family: var(--fonte-primaria);
  font-size: 40px;
  font-weight: 700;
  color: var(--cor-branco);
  padding: 1em;
  text-align: center;
  line-height: 1.5em;
  text-shadow: 4px 5px 10px rgba(0, 0, 0, 0.5);
}

.banner__subtitulo-contato {
  font-family: var(--fonte-primaria);
  font-size: 20px;
  font-weight: 500;
  color: var(--cor-branco);
  text-align: center;
  line-height: 1.5em;
  padding: 0 1em;
}

@media screen and (min-width: 680px) {
  .banner-contato {
    margin: 4em 1.5em 3em 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .banner__titulo-contato {
    font-size: 60px;
    margin-top: 1em;
    padding-bottom: 0.5em;
  }

  .banner__subtitulo-contato {
    font-size: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .banner__titulo-contato {
    font-size: 80px;
    margin-top: 0;

    padding-bottom: 0.5em;
  }
}
