/*RODAPE*/

.rodape {
  border: transparent;
  border-radius: 20px;
  background-color: var(--cor-cinza-medio);

  display: flex;
  flex-direction: column;
  font-family: var(--fonte-primaria);
  font-weight: 500;
  color: var(--cor-branco);
  align-items: center;
  text-shadow: 4px 5px 10px rgba(0, 0, 0, 0.5);
  margin: 1em;
}

.logo_rodape {
  margin-top: 1em;
  align-items: center;
}

.midias {
  display: flex;
  text-align: center;

  align-items: center;
  padding: 2em;
  justify-content: space-around;
}

.midias_link {
  text-decoration: none;
  color: var(--cor-branco);
  font-size: 16px;
}

.rodape p {
  font-size: 12px;
  padding: 2em;
  text-align: center;
}
