/* COMO O STUDIO TRABALHA */

.banner-studiotb {
  margin: 8em 1.5em 3em 1.5em;
  display: flex;
  flex-direction: column;
}

.banner__titulo-studio {
  font-family: var(--fonte-primaria);
  font-size: 40px;
  font-weight: 700;
  color: var(--cor-branco);
  padding: 0 1em;
  text-align: center;
  line-height: 1.5em;
  text-shadow: 4px 5px 10px rgba(0, 0, 0, 0.5);
}

.banner__subtitulo-studiotb {
  font-family: var(--fonte-primaria);
  font-size: 20px;
  font-weight: 500;
  color: var(--cor-branco);
  text-align: center;
  line-height: 1.5em;
  padding: 1em;
}

.servicos-studiotb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vw;
}

/*CARDS E RODAPE*/

.studio_process-briefing,
.studio_process-wireframe,
.studio_process-programacao,
.studio_process-entrega {
  border: transparent;
  border-radius: 20px;
  background-color: var(--cor-cinza-medio);
  display: flex;
  flex-direction: column;
  font-family: var(--fonte-primaria);
  font-weight: 500;
  color: var(--cor-branco);
  align-items: center;
  padding: 1em 0;
  margin: 1em 1em 4em 1em;
}

.cards-briefing,
.cards-wireframe,
.cards-programacao,
.cards-entrega {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.cards_img {
  margin-top: 1em;
  align-items: center;
}

.cards_titulo {
  font-size: 30px;
  padding: 1em;
  line-height: 1.5em;
  color: var(--cor-verde);
}

.cards-briefing,
.cards-wireframe,
.cards-programacao,
.cards-entrega {
  font-size: 20px;
  padding: 0 1em 1em 1em;
  text-align: center;
  line-height: 1.5em;
}

/* BANNER FINAL */

.banner_final-stdprocess {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__titulo2-stdprocess {
  font-family: var(--fonte-primaria);
  font-size: 24px;
  font-weight: 700;
  color: var(--cor-branco);
  padding: 0 1em;
  margin: 2.5em 0 0 0;
  text-align: center;
  line-height: 1.5em;
  text-shadow: 4px 5px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 680px) {
  .banner-studiotb {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner__subtitulo-studiotb {
    font-size: 32px;
  }

  .continue {
    width: 34.5px;
    height: 177px;
  }

  .cards_titulo {
    font-size: 40px;
  }

  .cards_texto {
    font-size: 24px;
    margin: 0 1em;
  }

  .cards_img {
    width: 98px;
    height: 110px;
  }

  .banner__titulo2-stdprocess {
    font-size: 40px;
  }
}
